<nz-layout>
    <ul nz-menu nzMode="inline" class="dashbord__aside" id="side_nav" >
        <li nz-menu-item  class="dashbord__aside-content" routerLink="/dashboard">
            <div>
                <img  alt="dashboard_icon" src="../../../../assets/img/sidenav-icon/grid.svg" width="20">
                <span class="dashbord__aside-txt">Dashboard</span>  
            </div>
        </li>
        <li nz-menu-item  class="dashbord__aside-content" routerLink="/dashboard">
            <div>
                <img  alt="dashboard_icon" src="../../../assets/img/sidenav-icon/credit-card.svg" width="20">
                <span class="dashbord__aside-txt">Wallet</span>  
            </div>
        </li>
        <li nz-menu-item  class="dashbord__aside-content" routerLink="/settings">
            <div>
                <img  alt="dashboard_icon" src="../../../../assets/img/sidenav-icon/settings.svg" width="20">
                <span class="dashbord__aside-txt">Settings</span>  
            </div>
        </li>
      
      
    </ul>
</nz-layout>
